
body{
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    
}

h1{ 
   color: purple;
   
}

#div1{
    border: purple solid 5px;
}

#div2{
    border: purple solid 5px;

}

#div3{
    border: green solid 5px;
    position: relative;
    float: left;
    

}

#div4{
    border: purple solid 5px;
    box-sizing: content-box;
    width: 50%;
    float: right;
  

}

#div5{
    border: teal solid 5px;
    float: left;


}

#div6{
    border: purple solid 5px;
    box-sizing: content-box;
    width: 50%;
 

}

#div7{
    border: red solid 5px;
    float: left;

}






